@import "tailwindcss";

@theme {
  --color-on-surface-variant: #45464d;
  --color-outline: #76777d;
  --color-on-secondary-fixed-variant: #0b513d;
  --color-secondary-fixed-dim: #95d3ba;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-surface: #fcf8fa;
  --color-tertiary: #000000;
  --color-on-primary: #ffffff;
  --color-on-surface: #1b1b1d;
  --color-tertiary-fixed: #fcdeb5;
  --color-outline-variant: #c6c6cd;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;
  --color-surface-bright: #fcf8fa;
  --color-on-tertiary-fixed-variant: #574425;
  --color-surface-container-high: #eae7e9;
  --color-inverse-surface: #303032;
  --color-surface-container-highest: #e4e2e4;
  --color-tertiary-fixed-dim: #dec29a;
  --color-on-tertiary-container: #98805d;
  --color-on-primary-fixed: #131b2e;
  --color-surface-container: #f0edef;
  --color-on-secondary-container: #306d58;
  --color-on-secondary: #ffffff;
  --color-secondary-fixed: #b0f0d6;
  --color-on-background: #1b1b1d;
  --color-surface-dim: #dcd9db;
  --color-primary-fixed: #dae2fd;
  --color-on-secondary-fixed: #002117;
  --color-on-tertiary: #ffffff;
  --color-surface-variant: #e4e2e4;
  --color-background: #fcf8fa;
  --color-on-primary-fixed-variant: #3f465c;
  --color-primary-container: #131b2e;
  --color-secondary-container: #adedd3;
  --color-on-primary-container: #7c839b;
  --color-tertiary-container: #271901;
  --color-inverse-primary: #bec6e0;
  --color-primary-fixed-dim: #bec6e0;
  --color-surface-tint: #565e74;
  --color-primary: #000000;
  --color-surface-container-low: #f6f3f5;
  --color-surface-container-lowest: #ffffff;
  --color-secondary: #2b6954;
  --color-inverse-on-surface: #f3f0f2;
  --color-on-tertiary-fixed: #271901;
  --radius-DEFAULT: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
  --spacing-margin-desktop: 48px;
  --spacing-gutter: 24px;
  --spacing-unit: 8px;
  --spacing-margin-mobile: 16px;
  --spacing-container-max: 1280px;
  --font-display: 'Hanken Grotesk', sans-serif;
  --font-body-md: 'Inter', sans-serif;
  --font-label-md: 'Inter', sans-serif;
  --font-headline-sm: 'Hanken Grotesk', sans-serif;
  --font-headline-md: 'Hanken Grotesk', sans-serif;
  --font-headline-lg: 'Hanken Grotesk', sans-serif;
}
